/*=========================================================================================================================================================================================*/
/* <<<<<<<<< GENERAL-STYLE >>>>>>>>>> */
/*=========================================================================================================================================================================================*/


* { 
	box-sizing: border-box;
	margin: 0; padding: 0;
}

body {
	font-family: 'Montserrat', sans-serif;
	/*font-family: 'Quicksand', sans-serif;*/
	font-size: 13px;
}

html { scroll-behavior: smooth; }  

/* <<<<<<<<<< COLOR >>>>>>>>>> */

/*Color 1: #  */
/*Color 2: #  */
/*Color 3: #  */
/*Color 4: #  */
/*Color 5: #  */
/*Color 6: #  */



/*=========================================================================================================================================================================================*/
/* <<<<<<<<< NAVBAR >>>>>>>>>> */
/*=========================================================================================================================================================================================*/

/*<<<<<<<<<< GENERAL >>>>>>>>>> */

.navbar { 
	background-color: #26110c;
	color: white;
	box-shadow: 1px 1px 4px 0 rgba(0,0,0,1);
	position: fixed;
	width: 100%;
	height: 80px;
	z-index: 3;
	padding-top: 14px;
 }


.navbar ul {
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
	background-color: #26110c;
}

/*<<<<<<<<<< MOBILE >>>>>>>>>> */






/*=========================================================================================================================================================================================*/
/* <<<<<<<<< FOOTER >>>>>>>>>> */
/*=========================================================================================================================================================================================*/


/*<<<<<<<<<< GENERAL >>>>>>>>>> */

footer {
	height: 200px;
	background-color: black;
}

