body {
	margin: 0;
	padding: 0;
}

.grid-container {
  	display: inline-grid;
  	grid-template-columns: 25% 25% 25% 25%;
  	grid-template-rows: 25% 25% 25% 25%;
	grid-gap: 5px 5px;

}


.grid-item1 {
	height: 300px;
	background-color: red;
	grid-column-start: 1; 
	grid-column-end: 2;
}

.grid-item2 {
	height: 300px;
	background-color: blue;
	grid-column-start: 3; 
	grid-column-end: 3;
}

.grid-item3 {
	height: 300px;
	background-color: yellow;
	grid-column-start: 1; 
	grid-column-end: 2;
}

.grid-item4 {
	height: 300px;
	background-color: green;
	grid-column-start: 2; 
	grid-column-end:2;
}